:local(.container) {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  min-height: 100px;
  position: relative;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
