:local(.rb) {
  background-color: #ecdd7b90 !important;
}
:local(.wr) {
  background-color: #007ea790 !important;
}
:local(.te) {
  background-color: #fe5e4190 !important;
}
:local(.qb) {
  background-color: #7244c490 !important;
}
:local(.def) {
  background-color: #3ddc9790 !important;
}
:local(.k) {
  background-color: #1d787490 !important;
}
